
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
  }
  
  .card-list__title{
  margin-bottom: 10px;
  margin-top: 0;
  
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
  }
  
  .card-list__item{

    width: 100%;

    @media screen and (min-width: 768px){
   width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px){
      width: calc((100% - 90px) / 4);
       }
  }

  
  
  .card-list__text{
    font-family: var(--primary-font);
    color: var(--secandary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  
  .card-list__container{
    @extend %align-list;
    justify-content: center;
      margin-bottom: 30px;
      width: 100%;
      height: 120px;
    background-color: #F5F4FA;
    max-width: 100%;
  }
  
 