.we-do{
    padding-top: 0;
  }
  .pictures-list{
    display: flex;
  }
  

  .pictures-list__item{

    position: relative;

   &:not(:last-child){
      margin-right: 30px;
    }
    

  }
 
  .we-do__title{
    margin-bottom: 50px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    @include font(36px, 1.16, 700, 0.03em) ;
    text-align: center;
  }
  
  
  .pictures-list__text{
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  
  
  
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  
  position: absolute;
  bottom: 0;
  @extend %align-list;
  justify-content: center;
  }